.header {
    grid-area: h;
    background-color:#262626 ;
    display: flex;
    
  }
  
.header img{
    padding-left: 30px;
    width: 90px;
  }

.item p{
  color: yellow;
  text-align: center;
  font-size: 60px;
  padding-left: 400px;
  margin-top: 10px;
  font: goose;
 
  }

  .loginBlock{
    margin-left: auto;
    padding-right: 20px;
    padding-top: 20px;
    
  }

  .loginBlock .nick{
    color: white;
    display: inline;
    padding: 20px;
  }

  