.header {
    grid-area: h;
    background-color:#262626 ;
    display: flex;
    
  }
  
.header img{
    padding-left: 30px;
    width: 90px;
  }

.item p{
  color: yellow;
  text-align: center;
  font-size: 50px;
  padding-left: 400px;
  margin-top: 10px;
  font: goose;
 
  }

  